

.blogPostContainer
{
    width: 70%;
}
.blogHeader
{
    text-align: center;

}

.postTitle
{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}
.blogCategory
{
    display:block;
    font-size: 14px;
    margin: 10px 0;

}
.postedBy
{
    font-size: 14px;
    font-style: italic;
    padding: 10px 0;
    display: block;
    color: #6c6c6c;
}

.postImageContainer
{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.postImageContainer img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.postContent
{
    margin: 17px;
    padding-bottom: 20px;
}

.postContent p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7em;
    font-family: 'Crimson Text', serif;
    letter-spacing: 0px;
    text-indent: 2em;
}