.search form
{
    display: flex;
    margin: 0 10px;
}

.searchInput
{
    border: 0;
    width: 0;
    transition: width 0.2s ease-in;
}

.searchInput.active
{
    width: 150px;

}

.searchInput:focus
{
    outline:none;
}

.searchIcon
{
    cursor: pointer;
}
svg 
{
    width: 24 px;
    height: 24px;
}



a svg:hover path{
    fill:#bbbbbb;
}